---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Медведь — автоэлектрик BMW в Санкт-Петербурге">
  <h1>Медведь — автоэлектрик BMW в Санкт-Петербурге</h1>
</BaseLayout>
