---

---

<a href="/" class="logo">Медведь</a>

<style>
  .logo {
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--color-text);
    text-decoration: none;
  }

  .logo:hover {
    color: var(--color-primary);
  }
</style>
